/*header css*/
*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
}
.blog-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: orangered;
}
.btn-primary{
    background: orangered;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0;
    font-size: 20px;
    color: #fafafa;
    font-weight: 700;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
nav{
    justify-content: space-between ;
    padding: 20px 70px;
}
/*hearder css*/
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}
.banner{
    padding: 20px 20px 0px 120px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 400px;
}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;

}
.banner-description{
    margin-bottom: 35px;
}
/* about section css*/
.about-section{
    background: #FFF8F3;
    margin: 150px 150px;
    padding: 80px 50px;
    text-align: center;
}
.main-header-section{
    font-size: 30px;
    margin-bottom:20px ;
    font-weight: 800;
}
.header-containt{
    color: #474747;
}
.parsonal-info{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.about-info{
    line-height: 8px;
}
.info-title{
    color: #474747;
}
.info-description{
    padding-top: 0px;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
}
.section-description{
    color: #474747;
}
.What-i-do{
    margin: 100px 150px;
    text-align: center;
}
/*skill section*/
.skill-section{
    display: flex;
    justify-content: space-between;
    margin: 80px 80px;
    background: #FFF8F3;
    padding: 50px;


}
.skill-items{
    width: 200px;
    box-shadow: 2px 2px 20px rgb(175, 177, 173,.5);

}
.s-i{
    padding: 20px 20px;
}
.skill-header{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}
.skill-descripion{
    padding:0px 20px 20px 20px ;
    font-size: 15px;
    color: #474747;
}
/*Resume css*/
.Resume-section{
    margin:80px 80px;
}
.Resume-header{
    text-align: center;
    padding-bottom:60px ;
    font-size: 20px;
    font-weight: 800;
}
.Resume-item{
    display: flex;
    gap: 20px;
}
.item{}
.item-header{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #474747;
}
.item-sub-header{
    font-size: 15px;
    font-weight: 700;
    color: #474747;
        
}
.description{
    margin-bottom: 20px;
    color: #474747;
}
.sub-description{
    color: #474747;
    font-size: 12px;
}
.CV{
    text-align: center;
    margin-top: 40px;
}
/*footer css*/
.footer-section{
    margin: 80px 80px;
    background:  #FFF8F3;
    padding: 100px 70px;
}
.footer-item{}
.item-section{
    display: flex;
    justify-content: space-between;
}
.item{}
.footer-header{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-description{
    width: 400px;
    font-size: 16px;
    color: #474747;
}
.submit-btn{
    margin-top: 40px;
}
.contact input, textarea{
    /* display: block; */
    margin-bottom: 20px;
    
}
.social-icon a{
    font-size: 20px;
    padding-right: 10px;
    margin-top: 15px;
}
/*Responsive css*/
.hide{
    display: none;
}
/*Rsponsive Moblie Device*/
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        padding: 0px;
    }
    .banner .profile-pic{
        width: 200px;
    }
.btn-primary{
    padding: 5px 30px;
    font-size: 10px;
    
}
.frist{
    margin-top: 20px;
}
.blog-title{
    font-size: 30px;
    /* margin-top: 70px; */

}
.banner-title{
    font-size: 40px;
}
.banner-greeting{
    font-size: 35px;
}
nav > ul{
    flex-direction: column;
}
    
    .skill-section, .Resume-item{
        flex-direction: column;
        
    }
    .item-section{
        flex-direction: column;
        
    }
    .footer-section{
        padding: 10px;
        margin: 0px;
    }
    .contact, input, textarea{
        width: 100%;
    }
    .What-i-do{
        /* width: 50%; */
        margin: 10px;
        
    }
    .about-section{
        margin: 10px;
        padding: 10px;
    }
    .parsonal-info{
        flex-direction: column;
    }
    
}
/* @media screen and (max-width:576px) and (min-width:992px){ */
    
}

